<!-- Area principal -->
<section class="hero" id="home">
  <div class="container">
    <h1 class="hero-title">PORTAFOLIO WEB </h1>

    <p class="hero-text">
        El valor más importante que tiene un programador es la habilidad de imaginar y crear desde cero
    </p>

    <div class="btn-groupLen">
        <button type="button" class="btn btn-info btn-rounded"><a routerLink="/Proyectos" style="color: white;">PROYECTOS</a></button>
      <br>
      <br>
      <button class="btnn btn-secondaryLen"><a style="color: white;" href="Mailto:danielcuyuch55@gmail.com? Subject:Oportunidad%20Laboral%20">MENSAJE</a></button>
    </div>
  </div>
</section>

<!---------------------------- Contacto----------------------------- -->

<section class="contact" id="contact">
  <div class="heading">
      <h5><b>DANIEL CUYUCH </b></h5>
      <h1><b>CONTACTO</b></h1>
  </div>

  <div class="contact-container" data-aos="fade-up"
  data-aos-duration="3000">

      <div class="con-box">
          <div class="icon">
            <a download="CV" href="../../../assets/CV_DanielCuyuch_JuniorDeveloper.pdf"><i class='bx bxs-phone-call'></i></a>
            </div>
          <h3> Phone</h3>
          <h5>(+502) 3040-8419</h5>
      </div>

      <div class="con-box">
          <div class="icon">
            <a download="CV" href="../../../assets/CV_DanielCuyuch_JuniorDeveloper.pdf"><i class="bx bx-current-location"></i></a>
          </div>
          <h3> Location</h3>
          <h5>Zona 6 de villa nueva </h5>
      </div>

      <div class="con-box">
          <div class="icon">
             <a href="Mailto:danielcuyuch55@gmail.com? Subject:Oportunidad%20Laboral%20" ><i class="bx bxs-envelope"></i></a>
          </div>
          <h3> Email</h3>
          <h5>danielcuyuch55@gmail.com</h5>
      </div>
  </div>
  <br>
  <br>
  <br>
</section>

<!-- ----------------------------Sobre MI ---------------------------- -->

<section class="about" id="about">
  <div class="about-image" data-aos="fade-up"
  data-aos-duration="3000">
  <img src="../../../assets/Img.png" alt="">
  </div>

  <div class="about-text" data-aos="fade-down"
  data-aos-easing="linear"
  data-aos-duration="1500">
  <h5><b>DANIEL CUYUCH </b></h5>
      <h1><b> SOBRE MI </b></h1>
      <p>
        Mi nombre es Andy Daniel Cuyuch Chitay con el con el numero de documento 3705 17350 0101,
        me considero una persona responsable, honesto, autodidacta, que le gusta el deporte y la tecnologica. <br>
        <br>
        Estudie mi grado primaria en el Colegio Scarlett Land,secundaria y diversificado en el 
        Centro Educativo Tecnico Laboral Kinal, en donde tuve la oportunidad de iniciar como programador junior.
      </p>
      <br>
      <div class="text-center">
      <a href="https://gt.linkedin.com/in/daniel-cuyuch-051503245?trk=people-guest_people_search-card" target="_blank"
          class="btn"><i class='bx bxl-linkedin'></i><b>Linkedin</b></a>
      </div>
  </div>
</section>

<!-- Ruta de programador  -->

<section class="home" id="home">
  <div class="home-text"  data-aos="fade-up"
  data-aos-duration="3000">
      <h5><b>DANIEL CUYUCH </b></h5>
      <h1><b>DESCRIPCION</b></h1>
      <p>
        Como programador he tenido la oportunidad de estudiar y practicar lenguajes de programacion , base de datos, 
        frameworks, lenguaje de etiquetas, creacion de algoritmos y diagramas de flujo, sistema de control de versiones etc.
        <br>
        <br>
        Soy una persona autodidacta , me gusta estar aprendiendo del mundo de la tecnologia, me considero alguien que 
        puede trabajar en equipo o tambien de manera individual.
      </p>
      <br>
      <a href="https://gt.linkedin.com/in/daniel-cuyuch-051503245?trk=people-guest_people_search-card" target="_blank"
          class="btn"><i class='bx bxl-linkedin'></i><b>Linkedin</b></a>
  </div>
  <div data-aos="fade-down"
  data-aos-easing="linear"
  data-aos-duration="1500" class="home-img">
                  <img src="../../../assets/undraw_teaching_re_g7e3.svg" alt="">
  </div>
</section>



<!-- --------------------Habilidades-------------------- -->

<section class="service" id="services">
  <div class="heading">
      <h5><b>DANIEL CUYUCH </b></h5>
      <h1><b>HABILIDADES PERSONALES</b></h1>
  </div>

  <div class="service-container" data-aos="fade-down"
  data-aos-easing="linear"
  data-aos-duration="1500">
      <div class="row">
          <i class='bx bx-group'></i>
          <h3>Trabajo en equipo</h3>
          <p>
              Como programador jr he realizado proyectos web SPA
              en colaboración de otros programadores, utilizando el
              manejo de control de versiones Git.
          </p>
      </div>
      <div class="row">
          <i class='bx bx-bulb'></i>
          <h3>Iniciativa</h3>
          <p>
              Me consideró una persona autodidacta,me
              gusta estar aprendiendo de nuevas tecnologías y poder
              ayudar a mi equipo de trabajo en lo que necesiten.
          </p>
      </div>

      <div class="row">
          <i class="bx bx-camera"></i>
          <h3>Responsabilidad</h3>
          <p>
              La responsabilidad es indispensable, es por eso que tener un plan de trabajo
              y administrar el tiempo es muy importante para poder evitar retrasos en los proyectos.
          </p>
      </div>
  </div>
</section>

