
<header style="background-color: transparent; width: 100%;">
    <nav class="navbar navbar-expand-lg bg-body-tertiary" >
        <div class="container-fluid" style="background-color: transparent;">
          <a class="navbar-brand" style="margin-left: 45px; color: white; margin-top: 6px;"  href="#"><b>PORTAFOLIO</b> </a>
          <button class="navbar-toggler btn btn-light"  type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon" style="color: white;"></span>
          </button>
          <div class="collapse navbar-collapse " style="padding: 0 80px;" id="navbarNavAltMarkup">
            <div class="navbar-nav">
              <a class="nav-link" routerLink="/Principal"><b>INICIO</b></a>
              <a class="nav-link" routerLink="/Proyectos"><b>PROYECTOS</b></a>
            </div>
          </div>
        </div>
    </nav>
</header>