<section class="hero" id="home">
  <div class="container">
    <h1 class="hero-title">EXPERIENCIAS EN PROYECTOS </h1>

    <P class="hero-text">
      Encontraras informacion sobre proyectos web , escritorio , API, tambien
      experiencia tanto laboral como personal.
    </P>

    <div class="btn-groupLen">
      <button type="button" class="btn btn-primary btn-rounded"data-mdb-ripple-color="dark"><a routerLink="/Principal" style="color: white;">INICIO</a></button>
      <button type="button" class="btn btn-warning btn-rounded"><a href="https://github.com/edaniel2022" style="color: white;">GITHUB</a></button>
    </div>
  </div>
</section>

<section class="home" id="home">
  <div class="home-text"  data-aos="fade-up"
  data-aos-duration="3000">
      <h5><b>DANIEL CUYUCH </b></h5>
      <h1><b>EXPERIENCIA JUNIOR DEVELOPER</b></h1>
      <p>
        Tengo experiencia laboral trabajando como practicante en dos empresas en Guatemala dando actuaizacion a aplicaciones de escritorio con 
        C# y java.
        <br>
        <br>
        Como se muestra en este apartado tengo experiencia trabajando  de lado del Front-ent, Backend , gracias a los conocimientos que actualmente poseo. 
      </p>
      <br>
  </div>
  <div data-aos="fade-down"
  data-aos-easing="linear"
  data-aos-duration="1500" class="home-img">
                  <img src="../../../assets/undraw_teaching_re_g7e3.svg" alt="">
  </div>
</section>


<section class="popular" id="destination" style="background-color: #19376D;">
  <div class="container">
    <h2 class="section-title" 
    style="color: white;font-family: 'Bebas Neue', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'PT Sans Narrow', sans-serif;
    font-family: 'Signika', sans-serif;"><b>CONOCIMIENTOS</b></h2>
    <p class="section-text">
      Poseo proyectos propios en donde muestro mis conocimientos utilizando estas tecnologicas 
    </p>
    <ul class="popular-list">
      <li>
        <div class="popular-card">
          <figure class="card-img">
            <img src="../../../assets/Portafolio-IMG-Ccharp.png" alt="San miguel, italy" loading="lazy">
          </figure>
        </div>
      </li>
      <li>
        <div class="popular-card">
          <figure class="card-img">
            <img src="../../../assets/Portafolo-IMG-jAVANEW.jpg" alt="Burj khalifa, dubai" loading="lazy">
          </figure>
        </div>
      </li>
      <li>
        <div class="popular-card">
          <figure class="card-img">
            <img src="../../../assets/Portafolio-IMG-Angular.jpg" alt="Burj khalifa, dubai" loading="lazy">
          </figure>
        </div>
      </li>

      <li>
        <div class="popular-card">
          <figure class="card-img">
            <img src="../../../assets/Portafolio-IMG-CSSNew.jpg" alt="Burj khalifa, dubai" loading="lazy">
          </figure>
        </div>
      </li>

      <li>
        <div class="popular-card">
          <figure class="card-img">
            <img src="../../../assets/Portafolio-IMG-HTML.webp" alt="Burj khalifa, dubai" loading="lazy">
          </figure>
        </div>
      </li>
      <li>
        <div class="popular-card">
          <figure class="card-img">
            <img src="../../../assets/Portafolio-IMG-JavaScritp.jpg" alt="Burj khalifa, dubai" loading="lazy">
          </figure>
        </div>
      </li>
      <li>
        <div class="popular-card">
          <figure class="card-img">
            <img src="../../../assets/portafolio-img-MongoDBN1.png" alt="Burj khalifa, dubai" loading="lazy">
          </figure>
        </div>
      </li>
      <li>
        <div class="popular-card">
          <figure class="card-img">
            <img src="../../../assets/Portafolio-IMG-TypeScript.png" alt="Burj khalifa, dubai" loading="lazy">
          </figure>
        </div>
      </li>
      <li>
        <div class="popular-card">
          <figure class="card-img">
            <img src="../../../assets/Portafolio-IMG-Git.png" alt="Burj khalifa, dubai" loading="lazy">
          </figure>
        </div>
      </li>
      <li>
        <div class="popular-card">
          <figure class="card-img">
            <img src="../../../assets/Portafolio-IMG-NodejsN1.png" alt="Burj khalifa, dubai" loading="lazy">
          </figure>
        </div>
      </li>
      <li>
        <div class="popular-card">
          <figure class="card-img">
            <img src="../../../assets/Portafolio-IMG-ASP.NETN1.png" alt="Burj khalifa, dubai" loading="lazy">
          </figure>
        </div>
      </li>
      <li>
        <div class="popular-card">
          <figure class="card-img">
            <img src="../../../assets/Portafolio-IMG-Msyq.webp" alt="Burj khalifa, dubai" loading="lazy">
          </figure>
        </div>
      </li>
    </ul>
    <div class="text-center">
      <button class="btn btn-primary">GITHUB</button>
    </div>
  </div>
</section>


<app-footer></app-footer>