<app-navbar></app-navbar>
<br>
<br>
<br>

<div class="container" data-aos="fade-up"
data-aos-duration="3000">
    <div class="content">
      <div class="left-side">
        <div class="address details">
          <i class="fas fa-map-marker-alt"></i>
          <div class="topic">Direccion</div>
          <div class="text-one">Zona 6 de </div>
          <div class="text-two">Villa Nueva</div>
        </div>
        <div class="phone details">
          <i class="fas fa-phone-alt"></i>
          <div class="topic">Telefono</div>
          <div class="text-one">+502 3040-8419</div>
          <div class="text-two">+502 3040-8419</div>
        </div>
        <div class="email details">
          <i class="fas fa-envelope"></i>
          <div class="topic">Email</div>
          <div class="text-one">informaciondaniel6@gmail.com</div>
          <div class="text-two">danielcuyuch55@gmail.com</div>
        </div>
      </div>
      <div class="right-side">
        <div class="topic-text" style="padding: 10px;">Contacto</div>
        <p style=" font-family: 'Signika', sans-serif;;">
          !HOLA! Gracias por visitar mi pagina web, si desea conectar conmigo,
          le brindo en pantalla los metodos para poder conectar.
          Te deseo un !feliz dia! </p>
      <form>
        <div class="row" style="padding: 30px;">
          <div class="col">
            <input  type="text" class="form-control" placeholder="Nombre">
            <!-- <input [(ngModel)]="emailToc.email" name="email"  #email="ngModel" type="text" class="form-control" placeholder="Nombre"> -->
          </div>
          <div class="col">
            <input  type="text" class="form-control" placeholder="Nombre">
            <!-- <input [(ngModel)]="emailToc.asunto" name="asunto"  #asunto="ngModel"  type="text" class="form-control" placeholder="Asunto"> -->
          </div>
        </div>
        <div class="row" style="padding: 30px;">
          <div class="col">
            <!-- <input [(ngModel)]="emailToc.mensaje" name="mensaje"  #mensaje="ngModel" type="text" class="form-control" placeholder="Mensaje"> -->
            <Textarea  type="text" class="form-control" placeholder="Mensaje" ></Textarea>
          </div>
        </div>
        <div class="text-center">
          <button  type="submit" class="btn btn-primary">Enviar</button>
        </div>
      </form>
    </div>
    </div>
</div>